body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 234, 255);
}

h1 {
    font-size: 52px;
    color: rgb(88, 49, 196);
}

header {
    text-align: center;
    padding: 32px;
}

header img {
    width: 300px;
}

.main {
    border: none;
    width: 50%;
    padding: 20px;
    background: rgb(144 89 210);
    color: rgb(255 255 255);
    margin-left: 300px;
}